<!-- Page header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Kampanyalar </span> - Tümü</h4>
    </div>

    <div class="heading-elements">
      <a href="#" class="btn btn-labeled btn-labeled-right bg-teal-400 heading-btn">Button <b><i class="icon-menu7"></i></b></a>
    </div>
  </div>

  <div class="breadcrumb-line breadcrumb-line-component">
    <ul class="breadcrumb">
      <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
      <li><a href="layout_boxed.html">Kampanya</a></li>
      <li class="active">Boxed layout</li>
    </ul>

    <ul class="breadcrumb-elements">
      <li><a href="#"><i class="icon-comment-discussion position-left"></i> Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="icon-gear position-left"></i> Dropdown
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
          <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
          <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">

  <!-- Simple panel -->
  <div class="panel panel-flat">
 

    <div class="table-responsive">
      <table class="table text-nowrap">
        <thead>
          <tr>
            <th>Campaign</th>
            <th class="col-md-2">Client</th>
            <th class="col-md-2">Budget</th>
            <th class="col-md-2">Status</th>
          </tr>
        </thead>
        <tbody>
 <tr *ngFor="let item of campaigns; let i = index;">
            <td>
              <div class="media-left media-middle hide">
                <a href="#"><img src="assets/images/placeholder.jpg" class="img-circle img-lg" alt=""></a>
              </div>
              <div class="media-left">
                <div class=""><a [routerLink]="['/camps/', item.id]" class="text-default text-semibold">{{item.name}}</a></div>
                <div class="text-muted text-size-small">
                  <span class="status-mark border-blue position-left"></span> 02:00 + {{i}} - 03:00
                </div>
              </div>
            </td>
            <td><span class="text-muted">Mintlime</span></td>
            <td>
              <h6 class="text-semibold">$5,489</h6>
            </td>
            <td><span class="label bg-blue">Active</span></td>
            </tr>




    

        </tbody>
      </table>


    </div>

  </div>
  <!-- /simple panel -->

      <div class="text-center mb-20 pb-20">
  <pagination [itemsPerPage]="pagesModel?.per_Page" [totalItems]="pagesModel?.totalCampaign" [(ngModel)]="current_Page" [maxSize]="5" class="pagination pagination-separated"
              [boundaryLinks]="true"  [rotate]="true" (numPages)="current_Page" (pageChanged)="pageChanged($event)"></pagination>

      </div>


  <!-- Footer -->
  <div class="footer text-muted">
    &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
  </div>
  <!-- /footer -->

</div>
<!-- /content area -->