<!-- Colors -->
<div class="panel panel-flat">
	<div class="panel-heading">
		<h5 class="panel-title">Ayarlar</h5>
		<div class="heading-elements">
			<ul class="icons-list">
				<li>
					<a data-action="collapse"></a>
				</li>
				<li>
					<a data-action="reload"></a>
				</li>
				<li>
					<a data-action="close"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" #cfForm="ngForm" (change)="formUpdate(cfForm);">
			<fieldset class="content-group">
				<div class="form-group">
					<label class="control-label col-lg-2">Kampanya Adı</label>
					<div class="col-lg-10">
						<input name="name" type="text" class="form-control" placeholder="örn: ayakkabı sezonu" ngModel="{{campaign.name}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Kampanya Türü</label>
					<div class="col-lg-10">
						<select name="type" class="form-control" ngModel="{{campaign.type}}">
							          <option value="banner">Banner</option>
							          <option value="feed">Feed</option>
							        </select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Notlar</label>
					<div class="col-lg-10">
						<textarea name="note" rows="5" cols="5" class="form-control" placeholder="Default textarea" ngModel="{{campaign.note}}"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Kolleksiyon</label>
					<div class="col-lg-10">
						<select name="collections" class="form-control" ngModel="{{campaign.collections}}">
							          <option value="1">Hareketli Reklamlar</option>
							          <option value="2">Videolar</option>
							        </select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-2">Yayın Durumu</label>
					<div class="col-lg-10">
						<select name="status" class="form-control" ngModel="{{campaign.status}}">
							          <option value="1">Aktif</option>
							          <option value="0">Pasif</option>
							        </select>
					</div>
				</div>
			</fieldset>
			<input name="id" type="hidden" value="1" ngModel="{{campaign.id}}">
			<input name="user_id" type="hidden" value="1" ngModel="{{campaign.user_id}}">
		</form>
		<div class="text-right">
			<button (click)="updateCampaign(cfForm)" class="btn btn-primary">Gönder <i class="icon-arrow-right14 position-right"></i></button>
		</div>
		{{cfForm.value | json}}
	</div>


</div>