<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold"><a routerLink="/camps/{{camp_id}}">Reklamlar</a> </span> - {{ad_item?.name}}</h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-component"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a href="appearance_content_panels.html">Appearance</a></li>
            <li class="active">Content panels</li>
        </ul>

        <ul class="breadcrumb-elements">
            <li><a href="#" class="legitRipple"><i class="icon-comment-discussion position-left"></i> Support</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i> Settings
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Main content -->



<div class="content">

									<div class="tabbable">
                                        <div class="panel">
									<ul class="nav nav-tabs bg-teal-400 nav-justified">
											<li class="active"><a href="#solid-justified-tab1" data-toggle="tab">Düzenle</a></li>
											<li><a href="#solid-justified-tab2" data-toggle="tab">Raporlar</a></li>
                                            <li><a href="#solid-justified-tab3" data-toggle="tab">Kodlar</a></li>
                                            <li><a href="#solid-justified-tab4" data-toggle="tab">Önizleme</a></li>
										</ul>
                                        </div>
										<div class="tab-content">
											<div class="tab-pane active" id="solid-justified-tab1">
<text-image-ad *ngIf="ad_item" [camp_id]="camp_id" [ad_data]="ad_item"></text-image-ad>

                                            
                                            </div>

											<div class="tab-pane" id="solid-justified-tab2">
raporlar
                                                	</div>

											<div class="tab-pane" id="solid-justified-tab3">
                                                
                                                     <div class="panel panel-flat">
  <div class="panel-body">
<pre>
    <code>
{{cikisKodu}}
    </code>
</pre>

  </div>
  </div>

                                            </div>

											<div class="tab-pane" id="solid-justified-tab4">
		
    <div class=" text-center" style="margin-top: 10%;">
      
    <div class="pace-demo">
									<div class="theme_xbox_xs"><div class="pace_progress" data-progress-text="60%" data-progress="60"></div><div class="pace_activity"></div></div>
								</div>
       </div>
</div>
										</div>
									</div>
						

</div>
<!-- /main content -->