<div class="row">

	<div class="col-md-9">
		<div class="panel panel-flat" style="background-image: url(https://i.stack.imgur.com/TMCfE.png);">
			<div class="panel-body">
				<div class="col-lg-4" *ngFor="let lob of adObjects; let i = index;">
					<div class="thumbnail" id="burasibir" (click)="denemeYap($event)">
						<div class="thumb" (click)="removeSlider(i)">
							<img src="{{currentImage}}" alt="" title="">
							<div class="caption-overflow">
								<span>
													<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded legitRipple"><i class="icon-zoomin3"></i></a>
													<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5 legitRipple"><i class="icon-link2"></i></a>
												</span>
							</div>
						</div>

						<div class="caption">
							<h6 class="text-semibold no-margin-top"><a href="#" class="text-default">{{ifForm.value.name}}</a></h6>
							{{ifForm.value.note}}
						</div>
					</div>
				</div>
				<img src="http://uploads.dev/banners/aygaz.jpeg" style="width:100%">

				<img width="100%" height="auto" class="hide" src="http://uploads.dev/banners/aygaz.jpeg" alt="">
			</div>
		</div>
		<div class="panel panel-flat" id="burasiiki">
			<div class="panel-body">
				<pre>
{{ifForm.value | json}}
</pre>
			</div>
		</div>

	</div>

	<div class="col-lg-3">
		<!-- Basic layout-->
		<button class="btn btn-primary btn-block" (click)="addSlider()">Yeni Slider <i  class="icon-arrow-right14 position-right"></i></button>
		<form #ifForm="ngForm" (ngSubmit)="submitAd(ifForm)" (change)="formState($event)" novalidate>
			<div class="panel panel-flat">
				<div class="panel-heading">
					<h5 class="panel-title">Basic layout</h5>
					<div class="heading-elements">
						<ul class="icons-list">
							<li>
								<a data-action="collapse"></a>
							</li>
							<li>
								<a data-action="reload"></a>
							</li>
							<li>
								<a data-action="close"></a>
							</li>
						</ul>
					</div>
				</div>

				<div class="panel-body">
					<div class="form-group">
						<label>reklam adı:</label>
						<input name="name" type="text" class="form-control" placeholder="Enter a capaign name" ngModel>
					</div>

					<div class="form-group">
						<label>Çıkış Url:</label>
						<input name="cikis_url" type="text" class="form-control" value="http://" ngModel>
					</div>

					<div class="form-group">
						<label>Status:</label>
						<select name="status" class="form-control" ngModel>
							                <option value="1">Aktif</option>
							                <option value="0">Bekliyor</option>
							              </select>
					</div>

					<div class="form-group">
						<label class="display-block">Gender:</label>

						<label class="radio-inline">
											<input type="radio" class="styled" name="gender" checked="checked">
											Male
										</label>

						<label class="radio-inline">
											<input type="radio" class="styled" name="gender">
											Female
										</label>
					</div>

					<div class="form-group">
						<label class="display-block">Your avatar:</label>
						<input type="file" name="imaj" class="file-input file-styled">
						<span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
					</div>



					<div class="form-group">
						<label>Your message: {{camp_id}}</label>
						<textarea rows="5" cols="5" name="note" class="form-control" placeholder="Default textarea" ngModel></textarea>
					</div>
					<input name="user_id" type="hidden" ngModel="1">
					<input name="kampanya_id" type="hidden" ngModel="{{camp_id}}">
					<input name="type" type="hidden" value="banner" ngModel="banner">
					<div class="text-right">
						<button type="submit" class="btn btn-primary">Submit form <i class="icon-arrow-right14 position-right"></i></button>
					</div>
				</div>
			</div>
		</form>
		<!-- /basic layout -->




		<!-- Navigation -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h6 class="panel-title">Navigation</h6>
				<div class="heading-elements">
					<a href="#" class="heading-text">See all &rarr;</a>
				</div>
			</div>

			<div class="list-group no-border no-padding-top">
				<a href="#" class="list-group-item"><i class="icon-user"></i> My profile</a>
				<a href="#" class="list-group-item"><i class="icon-cash3"></i> Balance</a>
				<a href="#" class="list-group-item"><i class="icon-tree7"></i> Connections <span class="badge bg-danger pull-right">29</span></a>
				<a href="#" class="list-group-item"><i class="icon-users"></i> Friends</a>
				<div class="list-group-divider"></div>
				<a href="#" class="list-group-item"><i class="icon-calendar3"></i> Events <span class="badge bg-teal-400 pull-right">48</span></a>
				<a href="#" class="list-group-item"><i class="icon-cog3"></i> Account settings</a>
			</div>
		</div>
		<!-- /navigation -->


		<!-- Share your thoughts -->
		<div class="panel panel-flat">
			<div class="panel-heading">
				<h6 class="panel-title">Share your thoughts</h6>
				<div class="heading-elements">
					<ul class="icons-list">
						<li>
							<a data-action="close"></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="panel-body">
				<form action="#">
					<div class="form-group">
						<textarea name="enter-message" class="form-control mb-15" rows="3" cols="1" placeholder="What's on your mind?"></textarea>
					</div>

					<div class="row">
						<div class="col-xs-6">
							<ul class="icons-list icons-list-extended mt-10">
								<li><a href="#" data-popup="tooltip" title="Add photo" data-container="body"><i class="icon-images2"></i></a></li>
								<li><a href="#" data-popup="tooltip" title="Add video" data-container="body"><i class="icon-film2"></i></a></li>
								<li><a href="#" data-popup="tooltip" title="Add event" data-container="body"><i class="icon-calendar2"></i></a></li>
							</ul>
						</div>

						<div class="col-xs-6 text-right">
							<button type="button" class="btn btn-primary btn-labeled btn-labeled-right">Share <b><i class="icon-circle-right2"></i></b></button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /share your thoughts -->



	</div>

</div>