<div class="row">

	<div class="col-md-9">
		<div class="row">
			<div class="col-lg-4 p-5" *ngFor="let lob of adObjects; let i = index;" [ngClass]="{'bg-danger' : set_Slider === i}" id="slide_{{i}}">
				<div class="thumbnail m-5" (click)="setSlider(i)" style="max-height : 300px">
					<div class="thumb" (click)="removeSlider(i)">
						<img id="slide_image_{{i}}" [src]="lob?.image" alt="" title="" style="height:200px;">
						<div class="caption-overflow">
							<span>
													<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded legitRipple"><i class="icon-zoomin3"></i></a>
													<a href="#" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5 legitRipple"><i class="icon-link2"></i></a>
												</span>
						</div>
					</div>

					<div class="caption">
						<h6 class="text-semibold no-margin-top"><a href="#" class="text-default">{{lob?.name}}</a></h6>
						{{lob?.note}}
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-flat hide" style="background-image: url(https://i.stack.imgur.com/TMCfE.png);">
			<div class="panel-body">

				<img src="http://uploads.dev/banners/aygaz.jpeg" style="width:100%">

				<img width="100%" height="auto" class="hide" src="http://uploads.dev/banners/aygaz.jpeg" alt="">
			</div>
		</div>
		<div class="panel panel-flat mt-20" id="burasiiki">
			<div class="panel-body">
				<pre>
{{ifForm.value | json}}
</pre>
			</div>
		</div>

	</div>

	<div class="col-lg-3">
		<!-- Basic layout-->
		<button class="btn btn-primary btn-block mb-10" (click)="addSlider()">Yeni Slider <i  class="icon-arrow-right14 position-right"></i></button>
		<form #ifForm="ngForm" (ngSubmit)="submitAd(ifForm)" (change)="formState($event)" (keyup)="formState($event)">
			<div class="panel panel-flat">
				<div class="panel-body">
					<div class="form-group">
						<label>reklam adı: </label>
						<input name="name" type="text" class="form-control" placeholder="ad title" ngModel="{{adObjects[set_Slider].name}}">
					</div>

					<div class="form-group">
						<label>Çıkış Url:</label>
						<input name="cikis_url" type="text" class="form-control" value="http://" ngModel>
					</div>

					<div class="form-group">
						<label>Status:</label>
						<select name="status" class="form-control" ngModel>
							                <option value="1">Aktif</option>
							                <option value="0">Bekliyor</option>
							              </select>
					</div>



					<div class="form-group">
						<label class="display-block">Image:</label>
						<input type="file" class="file-input file-styled" name="imaj" ngModel>
						<span class="help-block">kabul edilen formatlar : jpg, jpeg, gif, png</span>
					</div>

						<div class="form-group">
							<label>Notlar: </label>
							<textarea rows="5" cols="5" name="note" class="form-control" placeholder="not.." ngModel="{{adObjects[set_Slider].note}}"></textarea>
						</div>
						<input name="user_id" type="hidden" ngModel="1">
						<input name="kampanya_id" type="hidden" ngModel="{{camp_id}}">
						<input name="type" type="hidden" value="banner" ngModel="banner">

				</div>
			</div>
		</form>
		<div class="text-right">
			<button class="btn btn-primary">Oluştur <i class="icon-arrow-right14 position-right"></i></button>
		</div>


	</div>

</div>