	<!-- Quick stats boxes -->
							<div class="row">
								<div class="col-lg-4">

									<!-- Members online -->
									<div class="panel panel-flat">
										<div class="panel-body">
											<div class="heading-elements">
												<ul class="icons-list">
							                		<li><a data-action="reload"></a></li>
							                	</ul>
						                	</div>

											<h3 class="no-margin">3,450</h3>
											Display
											<div class="text-muted text-size-small">489 avg</div>
										</div>

										<div class="container-fluid">
											<div id="members-online"></div>
										</div>
									</div>
									<!-- /members online -->

								</div>



								<div class="col-lg-4">

									<!-- Today's revenue -->
									<div class="panel panel-flat">
										<div class="panel-body">
											<div class="heading-elements">
												<ul class="icons-list">
							                		<li><a data-action="reload"></a></li>
							                	</ul>
						                	</div>

											<h3 class="no-margin">450</h3>
											Total Click
											<div class="text-muted text-size-small">56 avg</div>
										</div>

										<div id="today-revenue"></div>
									</div>
									<!-- /today's revenue -->

								</div>




								<div class="col-lg-4">

									<!-- Current server load -->
									<div class="panel panel-flat">
										<div class="panel-body">
											<div class="heading-elements">
												<ul class="icons-list">
							                		<li><a data-action="reload"></a></li>
							                	</ul>
						                	</div>

											<h3 class="no-margin">2.85 %</h3>
											Click CTR
											<div class="text-muted text-size-small">2.25 % avg</div>
										</div>

										<div id="server-load"></div>
									</div>
									<!-- /current server load -->

								</div>


							</div>
							<!-- /quick stats boxes -->

				<div class="row">
					<div class="col-md-6">
						<!-- Daily financials -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Daily financials</h6>
								<div class="heading-elements">
									<span class="badge bg-danger-400 heading-text">+86</span>
								</div>
							</div>

							<div class="panel-body">
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-pink text-pink btn-flat btn-rounded btn-icon btn-xs"><i class="icon-statistics"></i></a>
										</div>

										<div class="media-body">
											Stats for July, 6: 1938 orders, $4220 revenue
											<div class="media-annotation">2 hours ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-xs"><i class="icon-checkmark3"></i></a>
										</div>

										<div class="media-body">
											Invoices <a href="#">#4732</a> and <a href="#">#4734</a> have been paid
											<div class="media-annotation">Dec 18, 18:36</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-xs"><i class="icon-alignment-unalign"></i></a>
										</div>

										<div class="media-body">
											Affiliate commission for June has been paid
											<div class="media-annotation">36 minutes ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-warning-400 text-warning-400 btn-flat btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
										</div>

										<div class="media-body">
											Order <a href="#">#37745</a> from July, 1st has been refunded
											<div class="media-annotation">4 minutes ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-teal-400 text-teal btn-flat btn-rounded btn-icon btn-xs"><i class="icon-redo2"></i></a>
										</div>

										<div class="media-body">
											Invoice <a href="#">#4769</a> has been sent to <a href="#">Robert Smith</a>
											<div class="media-annotation">Dec 12, 05:46</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /daily financials -->


					</div>

				</div>




